<!DOCTYPE html>
<html lang="en">
<head> 
      <!-- here, all meta tags are rendering from the head.js through below path of ejs -->
      <%- include('../ejsRendering/head.ejs')%>

    <title>Home</title>
</head>
<body>
     <%- include('../ejsRendering/nav.ejs')%>
    <!-- Now the Home page and about page link are rendering from the /ejsRendering/nav.ejs  -->
    <div style="text-align:center" class="container mt-4">
        <h1  >This Is HOME Page of ExpressJS</h1>
    </div>
    <div  style="text-align:center" class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus error minima libero provident consequuntur repellat, nobis illum explicabo eius voluptatibus, facilis nulla odit tempora veniam facere tempore enim nisi perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas vel similique doloribus earum ratione facilis beatae eveniet quidem aspernatur magnam illo accusamus dicta officiis, eius ea tempore cumque? Id, voluptas.
        Corporis esse quia eligendi exercitationem eius, ipsum id autem, consectetur illo est laborum quasi architecto quod nihil explicabo beatae laboriosam quibusdam. Dolor rem molestiae voluptatibus repellendus veritatis quo voluptatum quam!
        Nihil cum id dolorem molestiae esse ad, quibusdam totam aliquam ex, iusto eum officia in ut minus error iure praesentium eligendi sit maxime aliquid ipsa. Est quaerat placeat alias iure.
        sdam repellat ad laborum! Facere voluptatum quam excepturi ut incidunt eum vitae dolore.</p>
    <div style="text-align:center" class="container">
        <a  style="text-align:center" href="/download">Download </a>
</body>
</html>