<%- include('common/nav.ejs')-%>

<h1>WEL COMETHis is HOME page</h1>

<link rel="stylesheet" href="../assets/style.css">

<body>
    
    <form method="post">
        <input type="text",name='email'><br>
        <input type="password",password='password'><br>
        <button type="submit">login</button>
    </form>
    
</body>
